html body{
  background-color:  #333;
  color: #fff;
}

.nav{
  margin-top: 20px;
}
.nav-item{
  margin-left: 20px;
  margin-right: 20px;
}


li a{
  font-size: 20px;
  font-weight: 800;
  color: grey;
  vertical-align: bottom;
  line-height: 50px;
}
li a:hover{
  color: #f8f8f8;
  text-decoration: underline;
}

.central-content{
  margin-top: 120px;
  text-align: center;

  p{
    font-size: 20px;
  }
}
